body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6a033;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  background-color: #f9efa0;
  color: #15110b;
}

#nav-title {
  font-size: 40px;
  margin: 0px 10px 0px 10px;
  padding: 20px 20px 0px 20px;
  text-align: center;
}

#nav-links {
  text-align: center;
}

#login-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5% 25% 5% 25%;
  padding: 20px;
  border: 2px solid #15110b;
  width: 50%;
  background-color: #f9efa0;
  color: #15110b;
  border-radius: 3px;
}

#login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: 600;
}

#profile-container {
  text-align: center; 
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  padding-bottom: 25px;
  border: 2px solid #15110b;
  width: 50%;
  background-color: #f9efa0;
  color: #15110b;
  border-radius: 3px;
}
